body {
    font-family: 'arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.to-the-left,
.to-the-right {
    flex: 1;
}

h1 {
    color: #f8f9fa;
    font-size: 40px;
    background: linear-gradient(to right, #007bff 0%, #007bff 100%);/*gradient color effct*/    padding: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    transform: skewX(-20deg);
    width: 100%;
}

form {
    text-align: left;
    margin-bottom: 20px;
}

#current-weather,
#forecast {
    overflow-x: auto;
    margin-bottom: 20px;
    display: flex;
}

#search-history {
    text-align: left;
}