/* Just tinkering with vars in css */
/* It is good to know this tool will help with future development */
/* I had some original idea with the titles and other elements but in order for things
to function properly I had to give up some ideas.
It was interesting trying to organize everything on the page 
adding those borders sure helped but they do not look quite as good so I took them off the page */
:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #f8f9fa;
    --text-color: #f8f9fa;
    --input-border-color: #007bff;
    --button-background-color: #007bff;
    --button-hover-color: #0056b3;
    --forecast-background-color: #000047;
    --city-button-background-color: lightgray;
    --city-button-hover-color: lightblue;
}

body {
    font-family: 'arial', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    
}

h1 {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(to right, lightblue 0%, #033b77 100%);/*gradient color effct*/    padding: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 20px 20px auto;
    width: 100%;
    text-align: center;
    padding-left: 25%;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.to-the-left,
.to-the-right {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.to-the-left {
    width: 20%;
}

.to-the-right {
    width: 80%;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.divider {
    border:1px solid #007bff;
    margin: 20px 0;
    width: 100%;
}

#forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-item {
    color: #f8f9fa;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--forecast-background-color);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

h4 {
    width: 100%;
}

.city-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--city-button-background-color);
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

.city-button:hover {
    background-color: var(--city-button-hover-color);
}

#city-input {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    width: 80%;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 10px   20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: #fff;
    cursor: pointer;
    width: 80%;
    font-weight: bold;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

label[for="city-input"] {
    font-size: 35px;
    font-weight: bold;
}

#clear-history {
    color: var(--text-color);
    display: block;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--button-background-color);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#clear-history:hover {
    background-color: var(--city-button-hover-color);
}