body {
    font-family: 'arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #007bff;
    background: linear-gradient(to right, #007bff 0%, #007bff 100%);/*gradient color effct*/
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    transform: skewX(-15deg);
}

form {
    text-align: right;
    margin-bottom: 20px;
}

#current-weather,
#forecast {
    display: flex;
    overflow-x: auto;
}

#search-history {
    text-align: right;
}
